@import './../base/vars';
.shedule {
    background: url(../img/shedule/seprator-bg-2.jpg) center center no-repeat;
    position: relative;
    background-size: cover;
    scroll-margin-top: 130px;
    &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        content: "";
        background-color: rgba(0, 0, 0, 0.60);
    }
    &::after {
        position: absolute;
        top: 0px;
        left: calc(50% - 250px);
        content: "";
        background-color: #611515;
        width: 500px;
        mix-blend-mode: soft-light;
        height: 100%;
        transform: skew(-20deg);
    }
    &__row {
        padding: 60px 0 30px 0;
        text-align: center;
    }
}
.section__title {
    font-size: 60px;
    line-height: 85px;
    display: inline-block;
    margin: auto;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    z-index: 3;
    &:before {
        content: "";
        width: 4px;
        height: 130%;
        top: -25%;
        bottom: -5%;
        left: 10%;
        position: absolute;
        background-color: $colormain;
        transform: rotate(40deg);
        z-index: -1;
    }
    &::after {
        content: "";
        width: 8px;
        height: 180%;
        top: -40%;
        bottom: -40%;
        left: 12%;
        position: absolute;
        background-color: $colormain;
        transform: rotate(40deg);
        z-index: -1;
    }
    &--white {
        color: $colorwhite;
    }
}
.section__subtitle {
    font-size: 20px;
    color: #b9b8b9;
    z-index: 2;
    position: relative;
    padding-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.shedule__week {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-bottom: 30px;
    &-link {
        font-size: 20px;
        color: $colorwhite;
        letter-spacing: 1px;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    &-link:hover {
        background-color: $colormain;
    }
}
.shedule__classes {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    display: none;
    padding: 20px 20px;
    .shedule__item {
        border-radius: 5px;
        width: calc((100% / 5) - 18px);
        border: 2px solid $colormain;
        text-align: center;
        transition: all 0.3s;
        min-height: 200px;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 0;
        margin-top: 20px;
        transition: all 0.5s ease-in-out;
        position: relative;
        z-index: 5;
        padding: 10px;
        &-link {
            position: absolute;
            inset: 0;
        }
        &-title {
            font-size: 24px;
            color: $colorwhite;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
        &-time {
            color: rgba(255, 255, 255, 0.75);
            font-size: 16px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
            padding: 10px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }
        &:hover .shedule__item-title {
            color: black;
        }
        &:hover .shedule__item-time {
            color: black;
        }

    }
}
.shedule__btn {
    border-radius: 35px;
    border: 3px solid $colormain;
    padding: 10px 40px;
    text-align: center;
    font-size: 30px;
    color: $colorwhite;
    margin: 30px auto;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: black;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

//Mediqa Queries 

@media (max-width: 1105px) {
    .shedule__week {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
}
@media (max-width: 1100px) {
    .shedule__classes {
        gap: 20px;
    }
    .shedule__item {
        flex-basis: 30%;
    }
    .shedule {
        background-position: right;
    }
}
@media (max-width: 720px) {
    .shedule__item {
        flex-basis: 45%;
        
    }
}
@media (max-width: 510px) {
    .shedule__item {
        flex-basis: 100%;
        
    }
    .section__title--white {
        font-size: 48px;
        &::before {
                left: 45%;
        }
        &::after {
                left: 30%;
        }
        }
        .section__subtitle {
            font-size: 24px;
            padding-top: 20px;
        }
}

@media (max-width: 344px) {
    .section__title--white {
        font-size: 48px;
        &::before {
            top: 10%;
            left: 65%;
            height: 100%;
        }
        &::after {
                left: 55%;
                height: 160%;
                top: -20%;
                height: 130%;
        }
        }
}